<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/playlist-styles.css">
    <title>All Playlists</title>

    <link rel="icon" type="logo/png" href="logo/Note.png">
    <script src="/scripts/button-functions.js" defer></script>
</head>
<img src="/logo/IMG_8125-removebg-preview.png" alt="Playlist Logo" class="logo">
<body>

    <h1>My Playlists</h1>

    <div class="playlist-container">
        <% if (Object.keys(playlists).length > 0) { %>
            <% Object.keys(playlists).forEach(playlist => { %>
                <div class="playlist-box">
                    <h2><%= playlist %> Playlist</h2>
                    <form action="/delete/playlist/<%= playlist %>" method="POST">
                        <button type="submit" onclick="return confirm('Delete this entire playlist?')">
                            🗑️ Delete Playlist
                        </button>
                    </form>
                    <ul>
                        <% playlists[playlist].forEach(song => { %>
                            <li>
                                <span><%= song.title %> - <%= song.artist %></span>
                                <form class="delete-form" action="/delete/song/<%= song.id %>" method="POST">
                                    <button class="delete-button">X</button>
                                </form>
                            </li>
                        <% }) %>
                    </ul>
                    
                </div>
            <% }); %>
        <% } else { %>
            <p>No playlists available.</p>
        <% } %>
    </div>
    
    <div class="buttons">
        <button onclick="window.location.href='/'">Add Another Song</button>
    </div>
    

</body>
</html>
